 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">


  <link rel="stylesheet" href="css/style.css">
  <title>CodeGig</title>
</head>

<body>
  

  <section id="gigs" class="container">
    <h1>All Gigs</h1>

    {{#each gigs}}

    <div class="gig">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>Budget: {{budget}}</li>
        <li><a href="mailto:{{contact_email}}" class="btn btn-reverse">Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Technologies Needed: <span>{{technologies}}</span></small>
      </div>
    </div>

    {{else}}
        <p>No gigs available</p>

    {{/each}}

    


  </section>
</body>

</html>